
* {
	box-sizing: border-box;
}

body {
	width: 100%;
  margin: 0 auto;
	background-color: rgb(204, 221, 230);
  font-family: 'Open Sans', sans-serif;
}


header {
	padding-top: 1em;
  width: 100%;
  position: fixed;
  top:0;
  background: rgb(204, 221, 230); 
  z-index: 1;
}
.logo {
	width: 23%;
	float: left;
	height: auto;
	padding-left: 1.5em;
	
	
}

.nav {
	width: 60%;
    float: left;
    overflow: auto;
    margin:.1em 20em 0;
    position: fixed;
    top:0;
    left:0;
   margin-top: .4em;
           
}

.nav ul {
   padding:0;
    list-style: none;
}

.nav ul li {
	 float: left;
   width: 16.5%;
   background: rgb(204, 221, 230);
   list-style:none;
}

.nav ul li a {
    text-decoration: none;
    display: block;
    padding: 1em 1.3em;
    text-align: center;

   }

.nav ul li a:hover {
  background-color: rgba(159, 207, 227, 0.8);
 }

.nav ul li ul li{
  width:100%;
  font-size: 90%;
}

.nav ul li ul li a{
  border-top: 1px solid white;
}
.nav ul li ul{
  display: none;
}

.nav ul li:hover ul{
  display: block;
  float:left;
  
}

.labforyou {
  width: 10%;
  text-align: center;
  margin-left: 52em;
  float: left;
}

.section1 {
	clear: both;
  margin-top: 6em;
}

.banner {
	width:100%;
height:20em;
}
.article1 h1,.article1 p{
	text-align: center;
  line-height: 1;

}

.article1 {
	height: 15em;
	padding: 2.5em 0;
 }


.first, .second, .third, .fourth {
	width: 25%;
	float:left;
	
	
}
.img1, .img2, .img3, .img4 {
	width: 100%;
}

.primo p, .secondo p, .terzo p, .quarto p  {
   text-align: left;
   margin-left: 20px;
}
 .section2 .box {
 	float:left;
 	width: 100%;
 	border: 1px solid black;
 	height: 400px;
 	background-color:black;
 	opacity: 0.9;
 }


 .background h1{
 	color: white;
 	font-size: 40px;
 	text-align: center
 }

 .background h3 {
 	color: white;
 	font-size: 30px;
 	text-align: center;
 	width: 100%;
 }
 .background p {
 	align-items: center;
 	text-align: center;
 }
 
 .input {
 	padding: 20px 50px;
  width: 250px;
  }


 .article4 {
 	width:100%;
 	float:left;

 }
 .article4 .background2 {
 	   background-color: black;
     background-image: url(img/background1.jpg);
     width: 50%;
     background-size: cover;
     background-repeat: no-repeat;
     float:left;
     height : 400px;
     border: 2px solid white;
 }

 .article4 .background3 {
     background-image: url(img/background3.jpg);
     background-color: black;
     width: 50%;
     background-size: cover;
     background-repeat: no-repeat;
     float:left;
     height:400px;
     border:2px solid white;
 }

 .background2 h1, .background3 h1{

 	text-align: center;
 	padding-top: 150px;
 }

  .container{
  float: left;
  width: 100%;

 }

 .stories{

 	width:100%;
 	float:left;
   
 
 }

 
 .stories h1 {
 	text-align: center;
 	padding-top: 50px;

 }

 .story1, .story2, .story3 {

 	float:left;
 	width: 30%;
 	
 	height: 900px;
  margin-left: 30px;
  box-shadow: 3px 3px 5px 5px grey;
   	/*box-shadow: 5px 10px #888888;*/
  
  }

  .story1 img, .story2 img, .story3 img {
    width:100%;
  }

   .story1 h1, p, .story2 h1, p, .story3 h1, p {

  margin-left: 10%;
  margin-right: 10%;
  width:90%;
  overflow: hidden;
  text-align: left;
    
}
   
 .last {
	padding:20px;
	margin-top: 100px;
	}

.last-title input {
   border-radius: 10px;
   width: 300px;
}

.last-title p {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

  .describe, .form {
 	float: left;
 	width:50%;
 	
 }
  form {
 
  	width: 90%;
  	margin-left: 5%;
  	margin-top: 5%;
  	padding: 40px;
  }

  form input {

  	padding: 10px;
  	width: 250px;
  }
  .describe h1 {
  	margin-top: 50px;
  	padding: 30px;
  }

  .article6 {
  	background-color: rgb(149, 191, 240);
  
  	width: 100%;
  	float: left;
  }
  .article7 {
  	float:left;
  	width: 100%;
  }
  .article7 h1 {
  	text-align: center;
  	margin-top: 60px;
    margin-bottom: 60px;
  }
  .contact{
    float:left;
  }


  .contact span {

  	display: inline-block;
    margin-left: 225px;
    padding: 30px;
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;

  }

  .contact p {

    text-align: center;
    font-size: 25px;

  }

ul li {
  list-style: none;
}
 
a {
	text-decoration: none;
	color:black;
}

h1 {
	font-size: 35px;
}
 .article1 p {
 	font-size: 25px;
 }

 .article2 p {
 	font-size: 20px;
 }

 .article7{
  background: rgb(86, 119, 252);
 }

 .footer1, .footer2, .footer3, .footer4 {
  float: left;
 }

 .footer1 a, .footer2 a, .footer3 a, .footer4 a {
  color: white;
 }
 footer {
  float: left;
  width: 100%;
  background: rgb(42, 43, 46);
  
 }
 .footer1 {
  width: 25%;
  padding-left: 100px;
 }
 .footer2, .footer3 {
  width: 25%;
  padding-left: 100px;
  color: white;
 
 }
 .footer4 {
  width: 25%;
  padding-left: 100px;
  color: white;

 }

 .footerh1 {
  float: right;
  height: 200px;
  width: 250px;
  margin-bottom: 50px;
  color: white;
    
 }

 
 .wrapper {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:rgb(44, 48, 99);
  color: white;
  text-align: center;
}

.arrow {
  width: 50px;
  height: 50px;
}
#sideNav {
    width: 100%;
    background-color: rgba(255, 0, 0, 0.411);
    height: 0;
    position: fixed;
    top: 0;
    transition: 0.8s;
}

.large-small {
  float:left;
  width: 90%;
  height: 100%;
  margin-left: 30px;
  margin-right: 5px;
  padding-left:30px;
  padding-top: 100px;
   overflow: hidden;
}

.large{
  width :16%;
  height:95%;
  float:left;
  overflow: hidden;

}
.large p {
  margin-left: 0;
}


.small{
   float:left;
   width :14%;
  height:95%;
  overflow: hidden;
  border: 1px solid white;
  background: rgb(204, 221, 230);
 
}
 .img {
  width: 100%;
  height:60%;
  overflow: hidden;

 }

  @media only screen and (max-device-width: 480px) {

    header {
      width: 100%;
      margin: 0 auto;
    }
  .logo {
  width: 100%;
   height: auto;
  padding-top: 2px;
   display: none;
  }
   .nav {
   width: 100%;
    float: left;
    overflow: auto;
   border: 1px solid red 
   margin-top:1em;
    
    }
    nav.nav{
      margin:0;
    }
    .nav ul li a {
    display: block;
    font-size: .7em;
     padding:.5em 0;
     margin:0;

   }
    a {
     font-size: .7em;
     padding:.5em 0;
    }
    .banner1{
      width:380px;
    }     
    .banner{
      width:100%;
      height:8em;
    }

    .story1, .story2, .story3{
      overflow: hidden;
      width:100%;
     float:left;
     overflow: hidden;
     width:325px;
   }
   .describe h1{
    font-size: 15px;
   }
   form input{
    width:100px;
   }
   .wrapper h1{
    font-size: 18px;
   }
   .article4{
    width:380px;
    margin-left: 5px;
   }
   .background2, .background2{
    width: 45%;
    overflow: hidden;
   }
   .box{
    width: 325px;
    margin-left: 15px;
   }
   footer, .article7, .article6 {
    width:385px;
   }
   .footerh1{

     width: 150px;
    margin-bottom: 30px;
   }
   .footerh1 h1{
    font-size: 20px;
   }
 }
  @media only screen and (max-device-width: 780px) and (min-device-width: 480px) { 
    .container{
      width:100%;
    }
    .story1, .story2, .story3{
      overflow: hidden;
      width:220px;
     float:left; 
     display: inline-block;
   }
  }